@charset "UTF-8";

body,														/* body														*/
#app-mount .app-1q1i1E,										/* app					container							*/
#app-mount .app-2rEoOp,										/* app					inner								*/
#app-mount .loading-Ags1CY,									/* app					i18n loading						*/
#app-mount .wrapper-1prNyd,									/* app					errorscreen							*/
#app-mount .bg-h5JY_x,										/* app					background							*/
#app-mount .layer-3QrUeG,									/* layer				container							*/
#app-mount .container-3w7J-x,								/* channels				inner								*/
#app-mount .privateChannels-1nO12o,							/* dmchannels												*/
#app-mount .panels-j1Uci_ > *,								/* account/voice		inner								*/
#app-mount .chat-3bRxxu,									/* chat					container							*/
#app-mount .threadSidebar-1o3BTy,							/* chat					thread sidebar						*/
#app-mount .wrapper-3vR61M,									/* chat					messages loading					*/
#app-mount .noChannel-Z1DQK7,								/* nochannel												*/
#app-mount .members-1998pB,									/* members													*/
#app-mount .members-1998pB > div,							/* members				content								*/
#app-mount .content-MLh4nU,									/* unavailable												*/
#app-mount .container-1D34oG,								/* peoples													*/
#app-mount .container-lRFx4q,								/* peoples				activity list						*/
#app-mount .applicationStore-1pNvnv,						/* nitro													*/
#app-mount .pageWrapper-1PgVDX,								/* guilddiscovery											*/
#app-mount .pageWrapper-1x6lGh,								/* unihub													*/
#app-mount .scrollerBase-289Jih,							/* scroller													*/
#app-mount .scroller-2FKFPG,								/* scroller old												*/
#app-mount .standardSidebarView-3F1I7i,						/* settings													*/
#app-mount .contentRegion-3nDuYy {							/* settings				content								*/
	background: transparent;
}
#app-mount .scroller-2ZPeAD {								/* peoples				activity scroller					*/
	border: none;
}
#app-mount .sidebarRegion-VFTUkN,							/* settings				sidebar								*/
#app-mount .sidebar-_0OpfR {								/* sidebarlist			sidebar								*/
	background-color: rgba(var(--transparencycolor), calc(0.2 * (var(--transparencyalpha) / (var(--transparencyalpha) + 0.00000000000000000000001))));
}
#app-mount {												/* app-mount												*/
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
}
#app-mount .wrapper-3NnKdC {								/* guilds				container							*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 2));
}
#app-mount .sidebar-2K8pFh {								/* channels				container							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .panels-j1Uci_ {									/* account/voice		container							*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) / 1.5));
}
#app-mount .container-1r6BKw.themed-ANHk51 {				/* channelheader		container							*/
	background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}
#app-mount .membersWrap-2h-GB4 {							/* members				container							*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}
#app-mount .tabBar-fg4VK9 {									/* members				tabbar								*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}
#app-mount .nowPlayingColumn-2sl4cE {						/* peoples				now playing							*/
	background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}


#app-mount .image-3zK3Wt {									/* app					errorscreen image					*/
	background-image: url(https://discord.com/assets/e9baf4b505eb54129f832556ea16538e.svg);
	opacity: 0.6;
}
body::before,
body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
body::before {
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
}
.channelTextArea-rNsIhG {									/* textarea				channeltextarea						*/
	background-color: transparent;
}
.scrollableContainer-2NUZem {								/* textarea				container							*/
	background-color: rgba(var(--transparencycolor), .3);
}
.form-2fGMdU::before {
	display: none;
}

/* CALL */

#app-mount .wrapper-3lJCnD {
	z-index: 1002;
}
#app-mount .root-3JVdIJ {									/* popout				inner								*/
	background-color: transparent;
	border: none;
}
.root-3JVdIJ::before,
.root-3JVdIJ::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}
.root-3JVdIJ::before {
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
}
.root-3JVdIJ::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--popoutblur));
}

#app-mount .wrapper-2qzCYF {								/* call					voice wrapper					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.8));
}
#app-mount .root-217Brm {									/* call					root							*/
	color: var(--header-primary);
}
.videoWrapper-2v09vt {										/* call					video wrapper					*/
	background-color: rgba(var(--transparencycolor), .3);
}
.video-1FfuMD {												/* call					video							*/
	background-color: transparent;
}
.tile-2naSqK,												/* call					user video voicechannel			*/
.tile-2gi3tr {												/* call					user video dm					*/
	background-color: rgba(var(--transparencycolor), .3);
}
.gradientContainer-10lXLB {									/* call					gradientcontainer				*/
	display: none;
}
.participantsButton-KYW-IW {								/* call					participantsbutton				*/
	background-color: rgba(0, 0, 0, .3);
}
.participantsButton-KYW-IW:hover {
	background-color: rgba(0, 0, 0, .6);
}
.centerButton-3CaNcJ,
.colorable-1bkp8v.primaryDark-3mSFDl {
	background-color: rgba(var(--transparencycolor), .5);
}
.centerButton-3CaNcJ:hover,
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
	background-color: rgb(var(--accentcolor));
}
.button-3HqqDX {
	background-color: rgba(var(--transparencycolor), .4);
}
.button-3HqqDX:hover {
	background-color: rgba(var(--transparencycolor), .6);
}
.controlButton-2MhVEL.leaveButton-2YnTyt:hover {
	background-color: rgb(var(--dangercolor));
}
.regionSelectPopout-p9-0_W {
	width: 170px;
}

.container-pTf0Ly {											/* call					podium wrapper					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.8));
}
.callContainer-3UuV6S {										/* call					podium inner					*/
	background-color: transparent;
}
.scroller-1SuHJo {											/* call					podium scroller					*/
	background-color: transparent;
}
.container-2t1JyW {											/* call					podium info						*/
	background-color: transparent;
}
.rowContainer-2tYerQ {										/* call					podium row						*/
	background-color: transparent;
}
.participants-soO0aD {										/* call					podium participants				*/
	background-color: transparent;
}
.tileContainer-BaRAZF:hover {								/* call					podium participant				*/
	background-color: rgb(var(--accentcolor));
}
.container-1EOCj2 {											/* call					podium requests					*/
	background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 0.3));
}
.headerContainer-3Dbfbk {									/* call					podium requests header			*/
	box-shadow: 0 1px 0 rgba(var(--transparencycolor), .2), 0 1.5px 0 rgba(var(--transparencycolor), .05), 0 2px 0 rgba(var(--transparencycolor), .05);
}