.after_inlineCode-1KfVgj, .before_inlineCode-1G9rTK, .inlineCode-2ngu6Y,
#app-mount .inline {
    background: transparent;
}
.username-1A8OIy/*, .markup-2BOw-j>div , .textAreaSlate-1ZzRVj, .markup-2BOw-j:not(.embedWrapper-lXpS3L)*/ { 
  /*Rainbow Wave*/
  background-image: linear-gradient(to right, rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  z-index: 1;
  }
    @keyframes gradient-border {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body::before {
  background: url("https://cdn.discordapp.com/attachments/902217507128115260/902248854034980914/unknown.png");
}

